<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title data-th-text="${loggedInUser.firstName}">Profile</title>
</head>
<body>

<div id="content">
    <h1>This is Profile page !!</h1>

    <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>
    <div class="pl-60 pt-20" style="height:1000px">
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-5xl">Welcome to Profile Page !</h1>
            <p> Learn Java with <span data-th-text="${loggedInUser.firstName}"></span></p>
        </div>
    </div>
</div>

</div>
<script>
    console.log("This is Profile Page")
</script>
</body>
</html>